@font-face {
        font-family: 'Roboto Regular';
        src: url(../assets/fonts/Roboto/Roboto-Regular.ttf);
        font-display: swap;
        font-style: normal;
}
@font-face {
        font-family: 'Roboto Mono Regular';
        src: url(../assets/fonts/Roboto_Mono/static/RobotoMono-Regular.ttf);
        font-display: swap;
        font-style: normal;
}
@font-face {
        font-family: 'Comfortaa Regular';
        src: url(../assets/fonts/Comfortaa/static/Comfortaa-Regular.ttf);
        font-display: swap;
        font-style: normal;
}
@font-face {
        font-family: 'Lora Regular';
        src: url(../assets/fonts/Lora/static/Lora-Regular.ttf);
        font-display: swap;
        font-style: normal;
}
html,
body {
        height: 100%;
        background-color: #171515;
        margin: 0;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-family: Roboto Regular, sans-serif !important;
}
