.welcome-container {
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.welcome-background {
    width: 65%;
    height: 100%;
    background-image: url('../assets/images/main-back.jpg');
    height: 500px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.welcome-right-tent {
    width: 25%;
    height: 485px;
    position: absolute;
    background: rgb(23,21,21);
    background: linear-gradient(90deg, rgba(23,21,21,1) 39%, rgba(23,21,21,1) 74%, rgba(23,21,21,0.18370436553527658) 100%);
}
.welcome-left-tent {
    width: 25%;
    height: 485px;
    right: 0;
    top: 0;
    position: absolute;
    background: rgb(23,21,21);
    background: linear-gradient(270deg, rgba(23,21,21,1) 39%, rgba(23,21,21,1) 74%, rgba(23,21,21,0.18370436553527658) 100%);
}
.welcome-bottom-tent {
    width: 100%;
    height: 108px;
    position: absolute;
    top: 415px;
    background: rgb(23,21,21);
    background: linear-gradient(0deg, rgba(23,21,21,1) 39%, rgba(23,21,21,1) 74%, rgba(23,21,21,0.18370436553527658) 100%);
}
